<h1>My Calendars listing</h1>

<p>Select any calendar to list the events</p>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cals.each do |cal| %>
    <tr>
        <td><%= link_to cal.name, calendar_path(cal) %></td>
    </tr>  
    <% end %>
  </tbody>
</table>
